<div class="row white-bg  m-2 mt-2 ModuleName ">
    <div class="col-lg-7 Adjust">
        <h2 class="text-white">AWB Detail</h2>
    </div>
    <div class="col-lg-4 Adjust">
        <h3 class="text-white float-right mt-4" [hidden]="editMode==false"><b>AWB Status:</b>
            {{AWBDetail.AWBStatus}}
        </h3>
    </div>
</div>
<div class="row wrapper border-bottom white-bg page-heading m-2 mt-2">
    <div class="col-lg-8">
        <br>
        <div class="form-group  row"><label class="col-sm-3 col-form-label">Enter AWB Number</label>
            <div class="col-sm-4"><input type="text" class="form-control" [(ngModel)]="AWBNo"
                    (keyup.enter)="getAWBDetail()" [igxMask]="'000-0000-0000'">
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="title-action">
            <button type="button" class="btn btn-w-m btn-success color text-white mr-3" (click)="getAWBDetail()"><i
                    class="fa fa-search" aria-hidden="true"></i> Search</button>
            <button type="button" class="btn btn-w-m btn-secondary color text-white " (click)="resetAcceptance()"><i
                    class="fa fa-redo" aria-hidden="true"></i> Reset</button>
        </div>
    </div>
</div>
<form [formGroup]="AWBForm" role="form">
    <div class="wrapper wrapper-content animated fadeInRight ">
        <div class="ibox-content p-xl">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">AWB Number</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="AWBNo" readonly>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">No. of Pieces.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="Pieces" readonly>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Gross Weight.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="grossWeight"
                                readonly>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Chargeable Weight.</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="chargeableWeight"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Commodity</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="comm_description"
                                readonly>
                        </div>
                    </div>
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Nature of Goods</label>
                        <div class="col-sm-8"><input type="text" class="form-control" formControlName="Nature" readonly>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group  row"><label class="col-sm-4 col-form-label">Acceptance Remarks</label>
                        <div class="col-sm-12"> <textarea readonly class="form-control" formControlName="Remarks"
                                maxlength="250" id="exampleFormControlTextarea1" rows="2"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <ul class="nav nav-tabs bg btn-w-m  color " role="tablist">
                    <li><a class="nav-link text-white active" data-toggle="tab" href="#tab-5">AWB</a></li>
                    <li><a class="nav-link text-white" data-toggle="tab" href="#tab-6">Dimensional</a></li>
                    <li><a class="nav-link text-white" data-toggle="tab" href="#tab-8">House</a></li>

                </ul>
                <div class="tab-content">
                    <div role="tabpanel" id="tab-5" class="tab-pane active">
                        <form [formGroup]="AWBDetailForm" role="form">
                            <div class="panel-body ">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                         
                                            <div class="input-group row">
                                                <label class="col-sm-4 col-form-label">Commodity</label>
                                                
                                                <select class="form-control ml-4" formControlName="comid">
                                                    <option *ngFor="let p of responseCommodity" [value]="p.comid"
                                                        [selected]="p.comid == ComidID">
                                                        {{p.comm_description}}
                                                    </option>
                                                </select>
                                                <div class="input-group-append">
                                                    <button [disabled]="delivered == true"
                                                    class="btn btn-outline-secondary ml-2" type="button"
                                                    (click)="setModalState('notifyComid'); setGVGoods('CommodityDetail');"
                                                     title="Add New" data-toggle="modal"
                                                    data-target=".bd-example2-modal-xl"><i
                                                        class="fa fa-search"></i></button>
                                                </div>
                                           
                                              </div>
                                           
                                            <div class="input-group row mt-2">
                                                <label class="col-sm-4 col-form-label">AgentName</label>
                                                <select class="form-control ml-4" formControlName="agentId"
                                                        (blur)="getAgentDetailAWB()">
                                                        <option *ngFor="let p of agentsResponse" [value]="p.agentId"
                                                            [selected]="p.agentId == AgentIDForTab2">
                                                            {{p.agentName}}
                                                        </option>
                                                 </select>
                                                <div class="input-group-append">
                                                    <button [disabled]="delivered == true"
                                                    class="btn btn-outline-secondary ml-2" type="button"
                                                    (click)="setModalState('notifyNewAgentTab1'); setGVGoods('AgentDetailForTab1');"
                                                     title="Add New" data-toggle="modal"
                                                    data-target=".bd-example3-modal-xl"><i
                                                        class="fa fa-search"></i></button>
                                                </div>
                                           
                                              </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label">Country</label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="agentcountryName"
                                                        class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">Phone
                                                    Number</label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="agentPhoneNo"
                                                        class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label">Address</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" formControlName="agentAddress"
                                                        id="exampleFormControlTextarea1" rows="3" readonly></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label">Consolidator
                                                    Name</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" formControlName="consolidatorID">
                                                        <!-- <option selected="selected">Select Consolidator</option> -->
                                                        <option *ngFor="let p of ConsolidatorResponse"
                                                            [value]="p.agentId"
                                                            [selected]="p.agentId == AgentIDForTab1">
                                                            {{p.agentName}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="input-group-append ml-1">
                                                    <button [disabled]="delivered == true"
                                                        class="btn btn-outline-secondary" type="button"
                                                        (click)="setModalState('notifyNewAgentTab2'); setGVGoods('AgentDetailForTab2');"
                                                        style="margin-left: -10px;" title="Add New" data-toggle="modal"
                                                        data-target=".bd-example1-modal-xl"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">
                                                    Select Shipper</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" formControlName="shipperId"
                                                        (blur)="getShipperDetailAWB()">
                                                        <option *ngFor="let p of shippereResponse" [value]="p.shipperId"
                                                            [selected]="p.shipperId == ShipperID">
                                                            {{p.shipperName}}</option>
                                                    </select>
                                                </div>
                                                <div class="input-group-append ml-1">
                                                    <button [disabled]="delivered == true"
                                                        class="btn btn-outline-secondary" type="button"
                                                        (click)="setModalState('notifyShipper'); setGVGoods('ShipperDetail');"
                                                        style="margin-left: -10px;" title="Add New" data-toggle="modal"
                                                        data-target=".bd-example4-modal-xl"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label">Country</label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="shippercountryName"
                                                        class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">Phone
                                                    Number</label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="shipperPhoneNo"
                                                        class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label">Address</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" formControlName="shipperAddress"
                                                        id="exampleFormControlTextarea1" rows="3" readonly></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">
                                                    Select Cosignee</label>
                                                <div class="col-sm-7">
                                                    <select class="form-control" formControlName="cid"
                                                        (blur)="getConsigneeDetailAWB()">
                                                        <option *ngFor="let p of consigneeResponse" [value]="p.cid"
                                                            [selected]="p.cid == ConsigneeID">
                                                            {{p.consigneeName}}</option>
                                                    </select>
                                                </div>
                                                <div class="input-group-append ml-1">
                                                    <button [disabled]="delivered == true"
                                                        class="btn btn-outline-secondary" type="button"
                                                        (click)="setModalState('notifyConsignee'); setGVGoods('ConsigneeDetail');"
                                                        style="margin-left: -10px;" title="Add New" data-toggle="modal"
                                                        data-target=".bd-example5-modal-xl"><i
                                                            class="fa fa-search"></i></button>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label">Country</label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="consigneecountryName"
                                                        class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label class="col-sm-4 col-form-label">Phone
                                                    Number</label>
                                                <div class="col-sm-8">
                                                    <input type="text" formControlName="consigneePhoneNo"
                                                        class="form-control" readonly>
                                                </div>
                                            </div>
                                            <div class="form-group  row"><label
                                                    class="col-sm-4 col-form-label">Address</label>
                                                <div class="col-sm-8">
                                                    <textarea class="form-control" formControlName="consigneeAddress"
                                                        id="exampleFormControlTextarea1" rows="3" readonly></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12"><button type="button" [disabled]="delivered == true"
                                                class="btn btn-w-m btn-success color text-white float-right"
                                                (click)="saveAWBDetail()">Save
                                                AWB Detail</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" id="tab-6" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="col-md-12" [hidden]="addnewWeightDim">
                                    <form [formGroup]="DimweightForm" role="form">
                                        <div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">AWB
                                                    No.</label>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control" formControlName="AWBNo"
                                                        readonly [igxMask]="'000-0000-0000'">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">No. of Pieces</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="pieces"
                                                        appTwoDigitDecimaNumber>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Length</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" (change)="calculateCBM()"
                                                        formControlName="length" appTwoDigitDecimaNumber>
                                                </div>
                                                <label class="col-lg-2 col-form-label">Width</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" (change)="calculateCBM()"
                                                        formControlName="width" appTwoDigitDecimaNumber>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Height</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" (change)="calculateCBM()"
                                                        formControlName="height" appTwoDigitDecimaNumber>
                                                </div>
                                                <label class="col-lg-2 col-form-label">CBM</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="CBM"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Total Weight</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control"
                                                        formControlName="totalWeight" appTwoDigitDecimaNumber>
                                                </div>
                                                <label class="col-lg-2 col-form-label">Size In CM</label>
                                                <div class="col-lg-4">
                                                    <input type="text" class="form-control" formControlName="sizeinCM"
                                                        readonly>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">Remakrs</label>
                                                <div class="col-lg-10">
                                                    <textarea class="form-control" formControlName="remarks"
                                                        id="exampleFormControlTextarea1" rows="2"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12" [hidden]="showWeightDim">
                                    <div class="wrapper wrapper-content animated fadeInRight">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover dt-responsive display nowrap"
                                                datatable [dtOptions]="dtOptions1" [dtTrigger]="dtTrigger1"
                                                style="width: 100%;">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>AWB No.</th>
                                                        <th>Nature</th>
                                                        <th>No. of Pieces</th>
                                                        <th>Length</th>
                                                        <th>With</th>
                                                        <th>Height</th>
                                                        <th>Size in CM</th>
                                                        <th>Total Weight</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let p of dimWeightResponse let ndx=index;">
                                                        <td>{{ndx+1}}</td>
                                                        <td><a>{{p.AWBNo }}</a></td>
                                                        <td><a>{{p.Nature }}</a></td>
                                                        <td><a>{{p.pieces }}</a></td>
                                                        <td><a>{{p.length }}</a></td>
                                                        <td><a>{{p.width }}</a></td>
                                                        <td><a>{{p.height }}</a></td>
                                                        <td><a>{{p.sizeinCM }}</a></td>
                                                        <td><a>{{p.totalWeight }}</a></td>
                                                        <td>
                                                            <button *ngIf="GV.canAddEdit_Agents"
                                                                [disabled]="delivered == true"
                                                                class="btn btn-success color btn-sm m-1"
                                                                (click)="editWeightDim(p)"> <i class="fa fa-edit"
                                                                    aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row wrapper border-bottom white-bg page-heading ">
                                    <div class="col-md-12">
                                        <button *ngIf="GV.canAddEdit_Agents" [hidden]="showeditButtonWeightDim"
                                            [disabled]="delivered == true" (click))="saveWeightDIM()"
                                            class="btn btn-success color text-white float-right"><i
                                                class="fa fa-pencil"></i>
                                            Update
                                        </button>
                                        <button *ngIf="GV.canAddEdit_Agents" [hidden]="showSaveButtonWeightDim"
                                            [disabled]="delivered == true" (click)="saveWeightDIM()"
                                            class="btn btn-success color text-white float-right"><i
                                                class="fa fa-check "></i>
                                            Save </button>
                                        <button *ngIf="GV.canAddEdit_Agents" [hidden]="showCancelButtonWeightDim"
                                            [disabled]="delivered == true" (click)="showHideDimWeight('Cancel')"
                                            class="btn btn-secondary text-white float-right mr-2"><i
                                                class="fa fa-times"></i>
                                            Cancel
                                        </button>
                                    </div>

                                    <div class="col-lg-12 text-white">
                                        <button *ngIf="GV.canAddEdit_Agents" [hidden]="shownewButtonWeightDim"
                                            [disabled]="delivered == true" (click)="showHideDimWeight('New')"
                                            class="btn btn-success color text-white float-right"><i
                                                class="fa fa-plus"></i>
                                            Add New DM Weight </button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" id="tab-8" class="tab-pane">
                        <div class="panel-body">
                            <div class="col-lg-12">
                                <div class="col-md-12" [hidden]="addnewHouse">
                                    <form [formGroup]="houseForm" role="form">
                                        <br>
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="form-group  row"><label class="col-sm-4 col-form-label">HAWB
                                                        No.</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="HAWBNo"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label class="col-sm-4 col-form-label">No.
                                                        of Pieces</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="pieces" numbersOnly
                                                            class="form-control" (blur)="getChargeable()">
                                                    </div>
                                                </div>
                                                <div class="form-group  row">
                                                    <label class="col-sm-1 col-form-label">L </label>
                                                    <div class="col-sm-3">
                                                        <input type="text" formControlName="length" class="form-control"
                                                            appTwoDigitDecimaNumber (blur)="getChargeable()">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label">W </label>
                                                    <div class="col-sm-3">
                                                        <input type="text" formControlName="width" class="form-control"
                                                            appTwoDigitDecimaNumber (blur)="getChargeable()">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label">H </label>
                                                    <div class="col-sm-3">
                                                        <input type="text" formControlName="height"
                                                            appTwoDigitDecimaNumber (blur)="getChargeable()"
                                                            class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Gross
                                                        Weight</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="grossWeight"
                                                            appTwoDigitDecimaNumber class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Chargeable
                                                        Weight</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="chargeableWeight"
                                                            appTwoDigitDecimaNumber readonly class="form-control">
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Nature
                                                        of Goods</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" formControlName="goodsIdHouse">
                                                            <option *ngFor="let p of responseGoods" [value]="p.goodsId"
                                                                [selected]="p.goodsId == GoodsID">
                                                                {{p.Nature}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="row">
                                            <div class="col-sm">
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Select
                                                        Shipper</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" formControlName="shipperId"
                                                            (blur)="getShipperDetailHouse()">
                                                            <option *ngFor="let p of shippereResponse"
                                                                [value]="p.shipperId"
                                                                [selected]="p.shipperId == ShipperID">
                                                                {{p.shipperName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Country</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="shippercountryName"
                                                            class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Phone
                                                        Number</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="shipperPhoneNo"
                                                            class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Address</label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control" formControlName="shipperAddress"
                                                            id="exampleFormControlTextarea1" rows="3"
                                                            readonly></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm">
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Select
                                                        Cosignee</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" formControlName="cid"
                                                            (blur)="getConsigneeDetailHouse()">
                                                            <option *ngFor="let p of consigneeResponse" [value]="p.cid">
                                                                {{p.consigneeName}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Country</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="consigneecountryName"
                                                            class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Phone
                                                        Number</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" formControlName="consigneePhoneNo"
                                                            class="form-control" readonly>
                                                    </div>
                                                </div>
                                                <div class="form-group  row"><label
                                                        class="col-sm-4 col-form-label">Address</label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control"
                                                            formControlName="consigneeAddress"
                                                            id="exampleFormControlTextarea1" rows="3"
                                                            readonly></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-lg-12" [hidden]="showHouse">
                                    <div class="wrapper wrapper-content animated fadeInRight">
                                        <div class="table-responsive">
                                            <table datatable [dtOptions]="dtOptions3" [dtTrigger]="dtTrigger3"
                                                class="table table-hover table-striped dt-responsive table-bordered"
                                                cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Sr.</th>
                                                        <th>HAWB No.</th>
                                                        <th>AWB No.</th>
                                                        <th>Pieces</th>
                                                        <th>Length</th>
                                                        <th>Width</th>
                                                        <th>Height</th>
                                                        <th>Gross Wt.</th>
                                                        <th>Chargeable Wt.</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let p of HouseAWB let ndx=index;">
                                                        <td>{{ndx+1}}</td>
                                                        <td><a>{{p.HAWBNo }}</a></td>
                                                        <td><a>{{p.AWBNo }}</a></td>
                                                        <td><a>{{p.pieces }}</a></td>
                                                        <td><a>{{p.length }}</a></td>
                                                        <td><a>{{p.width }}</a></td>
                                                        <td><a>{{p.height }}</a></td>
                                                        <td><a>{{p.grossWeight }}</a></td>
                                                        <td><a>{{p.chargeableWeight }}</a></td>
                                                        <td>
                                                            <button *ngIf="GV.canAddEdit_Agents"
                                                                [disabled]="delivered == true"
                                                                class="btn btn-success color btn-sm m-1"
                                                                (click)="editHouse(p)"> <i class="fa fa-edit"
                                                                    aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row wrapper border-bottom white-bg page-heading ">
                                    <div class="col-md-12">
                                        <a [hidden]="showeditButtonHouse" (click)="saveHouse()"
                                            class="btn btn-success color text-white float-right"><i
                                                class="fa fa-pencil"></i>
                                            Update </a>
                                        <a [hidden]="showSaveButtonHouse" (click)="saveHouse()"
                                            class="btn btn-success color text-white float-right"><i
                                                class="fa fa-check "></i>
                                            Save </a>
                                        <a [hidden]="showCancelButtonHouse" (click)="showHideHouse('Cancel')"
                                            class="btn btn-secondary text-white mr-2 float-right"><i
                                                class="fa fa-times"></i>
                                            Cancel
                                        </a>
                                    </div>
                                    <div class=" col-lg-12 ">
                                        <button [hidden]="shownewButtonHouse" (click)="showHideHouse('New')"
                                            [disabled]="delivered == true"
                                            class="btn btn-success color text-white float-right mr-3"><i
                                                class="fa fa-plus"></i>
                                            Add New House </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="float-right">
            All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2021
        </div>
    </div>
</div>

<div *ngIf="notifyAWBState == true" class="modal fade bd-example-modal-xl" id="view-assigned-group-role-modal"
    data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="assignedGroupRoleModalLabel">Nature Of Goods Detail</h4>
                <button type="button" class="close" #closeNatureOfGoodsModal data-dismiss="modal" aria-hidden="true">
                    ×
                </button>
            </div>
            <app-nature-of-goods (notifyAWB)="notifyAWB($event)"></app-nature-of-goods>
        </div>
    </div>
</div>

<div *ngIf="notifyNewAgentTab2State == true" class="modal fade bd-example1-modal-xl" id="view-assigned-group-role-modal"
    data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-1 pb-1">
                <h4 class="modal-title" id="viewLeaveModelLabel">Consolidator Details</h4>
                <button type="button" class="close" data-dismiss="modal" #closeConsolidatorModal aria-hidden="true">
                    ×
                </button>
            </div>
            <app-agents (notifyNewAgentTab2)="notifyNewAgentTab2($event)"></app-agents>
        </div>
    </div>
</div>

<div *ngIf="notifyComidState == true" class="modal fade bd-example2-modal-xl" id="view-assigned-group-role-modal"
    data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-1 pb-1">
                <h4 class="modal-title" id="viewLeaveModelLabel">Commodity Details</h4>
                <button type="button" class="close" data-dismiss="modal" #closeCommodityModal aria-hidden="true">
                    ×
                </button>
            </div>
            <app-commodity (notifyComid)="notifyComid($event)"></app-commodity>
        </div>
    </div>
</div>

<div *ngIf="notifyNewAgentTab1State == true" class="modal fade bd-example3-modal-xl" id="view-assigned-group-role-modal"
    data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-1 pb-1">
                <h4 class="modal-title" id="viewLeaveModelLabel">Agents Details</h4>
                <button type="button" class="close" data-dismiss="modal" #closeAgentsModal aria-hidden="true">
                    ×
                </button>
            </div>
            <app-agents (notifyNewAgentTab1)="notifyNewAgentTab1($event)"></app-agents>
        </div>
    </div>
</div>

<div *ngIf="notifyShipperState == true" class="modal fade bd-example4-modal-xl" id="view-assigned-group-role-modal"
    data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-1 pb-1">
                <h4 class="modal-title" id="viewLeaveModelLabel">Shipper Details</h4>
                <button type="button" class="close" data-dismiss="modal" #closeShipperModal aria-hidden="true">
                    ×
                </button>
            </div>
            <app-shipper (notifyShipper)="notifyShipper($event)"></app-shipper>
        </div>
    </div>
</div>

<div *ngIf="notifyConsigneeState == true" class="modal fade bd-example5-modal-xl" id="view-assigned-group-role-modal"
    data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="assignedGroupRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header pt-1 pb-1">
                <h4 class="modal-title" id="viewLeaveModelLabel">Consignee Details</h4>
                <button type="button" class="close" data-dismiss="modal" #closeConsigneeModal aria-hidden="true">
                    ×
                </button>
            </div>
            <app-consignee (notifyConsignee)="notifyConsignee($event)"></app-consignee>
        </div>
    </div>
</div>