<div class="row white-bg ml-2 mb-2 mr-2 ModuleName">
    <div class="col-lg-4 Adjust">
        <h2 class="text-white">GSE Approval</h2>
    </div>
    <div class="col-lg-8 Adjust">
        <button type="button" class="btn btn-w-m btn-secondary mt-3 mr-5 float-right" *ngIf="GV.canAddEdit_Flights"
            [hidden]="!showCancelButton" (click)="showhide('Cancel')"><i class="fa fa-times "></i> Cancel </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right"
            *ngIf="GV.canAddEdit_gseCat" [hidden]="!showeditButton" (click)="saveData()"><i class="fa fa-pencil"></i>
            Update </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-2 text-black float-right"
            *ngIf="GV.canAddEdit_gseCat" [hidden]="!showSaveButton" (click)="saveData()"><i class="fa fa-check "></i>
            Save </button>
        <button type="button" class="btn btn-w-m btn-light mt-3 mr-5 text-black float-right"
            *ngIf="GV.canAddEdit_gseCat" [hidden]="!shownewButton" (click)="showhide('New')"><i class="fa fa-plus"></i>
            Add New GSE Approval </button>
    </div>
</div>
<form [formGroup]="ApprovalForm" role="form">
    <div class="row" [hidden]="!addNewData">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group row"><label class="col-sm-4 col-form-label">Approval ID</label>
                                <div class="col-sm-8"> <input maxlength="5" type="tel" formControlName="approvalID"
                                        class="form-control" (change)="getEmployees()"
                                        [ngClass]="{ 'is-invalid': submitted && f.approvalID.errors }"
                                        oninput="this.value = this.value.toUpperCase()">
                                    <div *ngIf="submitted && f.approvalID.errors" class="invalid-feedback">
                                        <div *ngIf="f.approvalID.errors.required">Employee ID is required!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group row"><label class="col-sm-4 col-form-label">Approver Name</label>
                                <div class="col-sm-8"> <input type="text" readonly formControlName="approverName"
                                        class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group  row"><label class="col-sm-4 col-form-label">Select Station
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" formControlName="airportID"
                                        [ngClass]="{ 'is-invalid': submitted && f.airportID.errors }">
                                        <option *ngFor="let p of stationResponse" [value]="p.airportID">
                                            {{p.StationName}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.airportID.errors" class="invalid-feedback">
                                        <div *ngIf="f.airportID.errors.required">Select Station!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group  row"><label class="col-sm-4 col-form-label">GSE Module
                                </label>
                                <div class="col-sm-8">
                                    <select class="form-control" formControlName="gsemoduleID"
                                        [ngClass]="{ 'is-invalid': submitted && f.gsemoduleID.errors }">
                                        <option *ngFor="let p of ModuleResponse">
                                            {{p.gseModule}}</option>
                                    </select>
                                    <div *ngIf="submitted && f.gsemoduleID.errors" class="invalid-feedback">
                                        <div *ngIf="f.gsemoduleID.errors.required">GSE Module is required!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <div class="form-group  row"><label class="col-sm-2 col-form-label">Priority
                                </label>
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="col-sm">
                                            <input type="radio" id="Radio1" value="P1" name="priority" class="col-sm-4"
                                                (click)="checkPriority()">
                                            <label class="col-sm-4" for="Radio1" style="margin-left: 5px;">P1</label>
                                        </div>
                                        <div class="col-sm"
                                            [ngClass]="{ 'is-invalid': submitted && f.priority.errors }">
                                            <input type="radio" id="Radio2" value="P2" name="priority" class="col-sm-4"
                                                (click)="checkPriority()">
                                            <label class="col-sm-4" for="Radio2" style="margin-left: 5px;">P2</label>
                                        </div>
                                        <div *ngIf="submitted && f.priority.errors" class="invalid-feedback">
                                            <div *ngIf="f.priority.errors.required">Priority is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2" [hidden]="!showData">
        <div class="col-lg-12">
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
                            class="table table-hover table-striped dt-responsive table-bordered" cellspacing="0"
                            width="100%">
                            <thead>
                                <tr>
                                    <th>Sr.</th>
                                    <th>GSE Approval ID</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of ApprovalResponse let ndx=index;">
                                    <td>{{ndx+1}}</td>
                                    <td>{{p.approvalID}}</td>
                                    <td>
                                        <button *ngIf="GV.saveManufacturer"
                                            class="btn btn-success color text-white btn-sm m-1" title="Edit"
                                            (click)="editApproval(p)"> <i class="fa fa-edit"
                                                aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
            All Right <strong>Reserved</strong>.
        </div>
        <div>
            <strong>Copyright</strong> Menzies RAS &copy; 2022
        </div>
    </div>
</form>