.modal-xl {
  max-width: 1100px !important;
}

.modal-xs {
  max-width: 800px !important;
}

.modal-xm {
  max-width: 950px !important;
}
.modal-xsmm{
  max-width: 700px !important;
}

.ng-autocomplete ::ng-deep .autocomplete-container {border: 1px solid #e5e6e7 !important;  height: 30px !important;  box-shadow: none !important;}