.modal-xl {
  max-width: 1200 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.rowColor {
  background-color: #B0D2D0;
}

.rowColorShipper {
  background-color: #669B98;
}


.LegendAgents {
  border: 1px solid rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  background-color: #B0D2D0;
}

.LegendsShipper {
  border: 1px solid rgb(0, 0, 0);
  width: 30px;
  height: 30px;
  background-color: #669B98;
}